example_images/
*.iml
*.tfrecord
*.json
.idea
3rdparty/

data/
gpumux/
ML_DATA/
__pycache__/

experiments/
figures/
results/

no_*.sh

### JupyterNotebook ###
notebook/
summary_utils.py
no_*.ipynb
*.ipynb_checkpoints
*/.ipynb_checkpoints/*
!make_figures.ipynb
cifar10*.ipynb
make_figures_*.ipynb


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Working python files
TODO_LIST
change.py
