*.iml
*.tfrecord
.idea
3rdparty/
experiments/
gpumux/
ML_DATA/

__pycache__/

### JupyterNotebook ###
.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

TODO_LIST